@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@keyframes gradientText {
    0% , 100% {
        color: rgb(255, 230, 0);
    }
    33% {
        color: orange;
    }
    66% {
        color: orangered;
    }

}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    background-color: gray;
}

.poema {
    background-color: white;
}

.titulo-principal {
    padding: 100px;
    background-image: url(imagens/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.link {
    color: white;
    font-family: var(--fonte2);
    font-size: 1.3em;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}


.title {
    background: linear-gradient(to right, rgb(255, 230, 0), orange, orangered);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 4.4em;
    animation: gradientText 5s linear infinite;
}

p {
    padding: 60px;
    font-family: var(--fonte3);
    font-size: 1.3em;
    box-shadow: inset 8px 10px 8px rgba(0, 0, 0, 0.37);
}

.box {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15)
}

.imagem {
    box-shadow: inset 10px 12px 12px rgba(0, 0, 0, 0.5);
    padding: 55px;
}

#img1 {
    background-color: black;
    background-image: url(imagens/CHR_2314.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#img2 {
    background-color: black;
    background-image: url(imagens/pilares_da_criacao.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#img3 {
    background-color: black;
    background-image: url(imagens/sistema-solar.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

#img4 {
    background-color: black;
    background-image: url(imagens/praia.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.box {
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    color: white;
}

footer {
    background-color: black;
    color: white;
}

footer > .rodape {
    font-family: var(--fonte2);
    font-size: 1.3em;
    text-align: center;
    padding: 5px;
}